{% extends "base.html.twig" %}
{% block main %}
    {% if app.session.flashBag.has('info') %}
        {% for msg in app.session.flashbag.get('info') %}
            <div class="flashback">
                <p style="color: blue">{{ msg }}</p>
            </div>
        {% endfor %}
    {% elseif app.session.flashBag.has('success') %}
        {% for msg in app.session.flashbag.get('success') %}
            <div class="flashback">
                <p style="color: green">{{ msg }}</p>
            </div>
        {% endfor %}
    {% elseif app.session.flashBag.has('danger') %}
        {% for msg in app.session.flashbag.get('danger') %}
            <div class="flashback">
                <p style="color: red">{{ msg }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <body>
    <div class="container">
        <h3><a href="{{ path('admin_all_user', {'param':'null'}) }}">All Users</a></h3><br/>
        <a href="{{ path("register_user") }}" class="btn btn-primary btn-xs" role="button">Add User</a>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>ID {{ knp_pagination_sortable(users, 'Sort', 'user.id') }}</th>
                <th>Email {{ knp_pagination_sortable(users, 'Sort', 'user.email') }}</th>
                <th>Full name {{ knp_pagination_sortable(users, 'Sort', 'user.username') }}</th>
                <th>Roles</th>
                <th>Is Active</th>
                <th colspan="3">Options</th>
            </tr>
            </thead>

            {% for user in users %}
            <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                {#<td>{{ user.roles|join(", ") }}</td>#}
                {% for role in user.getRoleName() %}
                    {#<td>{{ role }}</td>#}
                {% endfor %}
                    <td>{{ user.getRoleName() }}</td>

                {% if user.enabled > 0 %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td><a href="{{ path("admin_view_one", {id: user.id}) }}" class="btn btn-default btn-xs">View</a>
                </td>
                <td><a href="{{ path("admin_edit_user", {id: user.id}) }}" class="btn btn-success btn-xs">Edit</a>
                </td>
                <td><form action="{{ path("admin_delete_user_prepare", {id: user.id}) }}" method="post">
                        <button class="btn btn-danger delete-item btn-xs" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>

            {% endfor %}

        </table>
        <div class="pagination">
            {{ knp_pagination_render(users) }}
        </div>

        <div>
            <a href="{{ path('index') }}" class="btn btn-primary btn-xs">Back</a>
        </div>
    </div>
    </body>
{% endblock %}