{% extends 'base.html.twig' %}


{% block main %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="flashback">
            <p style="color: red">{{ msg }}</p>
        </div>
    {% endfor %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('trainer_edit', {id: trainer.id}) }}" method="POST">
                <fieldset>
                    <legend>Edit Trainer</legend>

                    <h2>Please Register</h2>
                    <label>
                        <input type="text" name="user[username]" placeholder="Username" value="{{ trainer.username }}"/>
                    </label><br/>
                    <label>
                        <input type="text"  name="oldPassword" placeholder="Enter Password"/>
                    </label><br/>
                    <label>ONLY IF YOU WANT TO CHANGE THE PASSWORD</label><br/>
                    <label>
                        <input type="text" style="background-color: darkorange" name="newPassword" placeholder="Enter New Password"/>
                    </label><br/>
                    <label>
                        <input type="text" style="background-color: darkorange" name="repeatNewPassword" placeholder="Repeat New Password"/>
                    </label><br/>
                    <label>
                        <input type="text" name="user[firstName]" placeholder="First name"
                               value="{{ trainer.firstName }}"/>
                    </label><br/>
                    <label>
                        <input type="text" name="user[lastName]" placeholder="Last name" value="{{ trainer.lastName }}"/>
                    </label><br/>
                    <label>
                        <input type="email" name="user[email]" placeholder="Email" value="{{ trainer.email }}"/>
                    </label><br/>
                    <label>
                        <input type="text" name="user[phone]" placeholder="Phone" value="{{ trainer.phone }}"/>
                    </label><br/>
                    <label>
                        Current Gender - " {{ trainer.gender }} " -
                        {#</label><br/>#}
                        {#<label>#}
                        Select new  <select typeof="text" name="user[gender]" value="{{ trainer.gender}}">
                            <option value=""></option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </label><br/>
                    {#<label>#}
                        {#Current Sport - {{ client.sport }}#}
                        {#<select typeof="text" name="client[sport]">#}
                            {#<option value=""></option>#}
                            {#<option value="fitness">Fitness</option>#}
                            {#<option value="yoga">Yoga</option>#}
                        {#</select>#}
                    {#</label><br/>#}
                    {#<label>#}
                        {#Current Role - {{ client.role }}#}
                        {#<select typeof="text" name="client[role]">#}
                            {#<option value=""></option>#}
                            {#<option value="Admin">Admin</option>#}
                            {#<option value="Manager">Manager</option>#}
                            {#<option value="Receptionist">Receptionist</option>#}
                            {#<option value="Client">Client</option>#}
                            {#<option value="Trainer">Trainer</option>#}
                        {#</select>#}
                    {#</label><br/>#}

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('trainer_view_one', {id: trainer.id} ) }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


{% endblock %}



