{% extends 'base.html.twig' %}


{% block main %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="flashback">
            <p style="color: red">{{ msg }}</p>
        </div>
    {% endfor %}

    <body>
    <div class="container">
        {#<h3>All Users</h3><br/>#}
        {#<a href="{{ path('all_users', {'param':'null'}) }}">All</a>#}
        <h3><a href="{{ path('all_users', {'param':'null'}) }}">All Users</a></h3><br/>


        <a class="btn btn-primary btn-xs" href="{{ path('user_register') }}" role="button">Add User</a><br/><br/>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Role</th>
                <th>Card Number</th>
                <th>Client name</th>
                <th>Username</th>
                <th>Sport</th>
                <th>Date added</th>
                <th></th>
            </tr>
            </thead>
            {% for user in users %}

            <tbody>
            <tr>
                <td>{{ user.role }}</td>
                <td><a href="{{ path('user_view_one', {'id': user.id}) }}">{{ user.cardNumber }}</a></td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.sport }}</td>
                <td>{{ user.dataCreate }}</td>
                <td><a class="btn btn-default btn-xs"
                   href="{{ path('user_view_one', {'id': user.id}) }}">View more &raquo;</a></td>
            </tr>
            </tbody>

            {% endfor %}

        </table>

        <a class="btn btn-primary btn-xs" href="{{ path('user_profile') }}">back &raquo;</a>
    </div>
    </body>

{% endblock %}