{% extends 'base.html.twig' %}



{% block body %}

    <h4>Edit</h4><hr><br/>

    {% for msg in app.session.flashbag.get('info') %}
        <div class="flashback">
            <p style="color: red">{{ msg }}</p>
        </div>
    {% endfor %}
    {#{% if error %}#}
        {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
    {#{% endif %}#}

<form class="form-horizontal" name="authenticate" action="{{ path('self_edit_user', {id: user.id}) }}" method="POST">
    <legend>Edit Client</legend>

    <label>
        Username: <input type="text" name="user[username]" placeholder="Username" value="{{ user.username }}"/>
    </label><br/>
    <label>
        Email: <input type="text" name="user[email]" placeholder="Email" value="{{ user.email }}"/>
    </label><br/>
    <label>
        All Roles: <input type="text" disabled  {% for role in user.roles %} value="{{ role }}" {% endfor %}/>
    </label><br/>
    <label>
        Password: <input type="password" name="password" placeholder="Password"/>
    </label><br/>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"/><br/>
    {{ form_row(form._token) }}

    <button type="submit" name="user[submit]" class="btn btn-success">Edit</button><br/><br/>

    <a href="{{ path('index') }}">
        Back
    </a><br/>


</form>

{% endblock %}

