{% extends 'base.html.twig' %}


{% block main %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="flashback">
            <p style="color: red">{{ msg }}</p>
        </div>
    {% endfor %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <h3>
                        User View
                    </h3>
                    <p>
                        Username: {{ user.username }}
                    </p>
                    <p>
                        Card Number: {{ user.cardNumber }}
                    </p>
                    <p>
                        First Name: {{ user.firstName }}
                    </p>
                    <p>
                        Last Name: {{ user.lastName }}
                    </p>
                    <p>
                        e-mail: {{ user.email }}
                    </p>
                    <p>
                        phone: {{ user.phone }}
                    </p>
                    <p>
                        gender: {{ user.gender }}
                    </p>
                    <p>
                        Date created: {{ user.dataCreate }}
                    </p>
                    <p>
                        Role: {{ user.role }}
                    </p>
                    <p>
                        Sport: {{ user.sport }}
                    </p>

                    <footer>
                        <div class="pull-left">
                                <a class="btn btn-danger btn-xs " href="{{ path('user_delete', {'id':user.id}) }}">delete &raquo;</a>
                                <a class="btn btn-success btn-xs" href="{{ path('user_edit', {'id':user.id}) }}">edit &raquo;</a>
                            <a class="btn btn-default btn-xs" href="{{ path('all_users', {'param':'null' }) }}}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>

{% endblock %}

