{% extends 'base.html.twig' %}


{% block main %}

    <body>
    <div class="container">
        <h3>All Clients</h3><br/>
        <a class="btn btn-primary btn-xs" href="{{ path('user_register') }}" role="button">Add client</a><br/><br/>
        <table class="table table-condensed">
            <thead>
            <tr>

                <th>Card Number</th>
                <th>Client name</th>
                <th>Username</th>
                <th>Sport</th>
                <th>Date added</th>
                <th></th>
            </tr>

            {% for cl in clients %}

            <tbody>
            <tr>
                <td><a href="{{ path('client_view_one', {'id': cl.id}) }}">{{ cl.cardNumber }}</a></td>
                <td>{{ cl.fullName }}</td>
                <td>{{ cl.username }}</td>
                <td>{{ cl.sport }}</td>
                <td>{{ cl.dataCreate }}</td>
                <td><a class="btn btn-default btn-xs"
                   href="{{ path('client_view_one', {'id': cl.id}) }}">View more &raquo;</a></td>
            </tr>
            </tbody>

            {% endfor %}

        </table>
    </div>
    </body>

{% endblock %}